body{
	margin: 0;
}
#maincontent{
	display: flex;
	flex-direction: column;
	position: relative;
	height: 90vh;
}
.withaside section{
	margin-right: 0;
}
header{
	height: 5vh;
	font-size: 1.1vh;
	overflow: hidden;
}
h1{
	line-height: 5vh;
	font-size: 3vh;
}
section{
	margin-left: 0;
}
.withasideleft section{
	margin-left: 0;
}
footer{
	margin: 0;
	height: 5vh;
	line-height: 5vh;
}
#home{
	height: 5vh;
	width: auto;
	position: absolute;
}
#map
{
	flex: 1 1 800px;
}
aside {
	right: -70%;
	width: 70%;
}
section.left{
	left:-70%;
	width: 70%;
}
aside,section.left{
	z-index: 3;
	background-color: #feef9a;
	text-align: left;
	position: fixed;
	-moz-transition: .5s all .1s;
	-webkit-transition: .5s all .1s;
	transition: .5s all .1s;
	top:0;
	height: 100%;
	max-height: 1500px;
	box-shadow: 0 0 50px 800px rgba(0,0,0,0.0);
}
aside>div, section.left>div{
	margin:10px;
	background-color: white;
}
aside .cote, section.left .cote{
	display: inline-block;
	position: absolute;
	z-index: 2;
	top:0px;
	width: 80px;
	min-height: 1em;
	padding: 5px;
	border-color:black;
	text-align: center;
	background-color: #feef9a;
	margin-top: 80px;
}
aside .cote{
	left: -90px;
	border-radius: 10px 0 0 10px;
	margin-right:0;
	float: left;
}
section.left .cote{
	right: -90px;
	border-radius: 0 10px 10px 0;
	margin-left:0;
	float: right;
}
aside:hover{
	right: 0;
}
section.left:hover{
	left:0;
}
aside:hover, section.left:hover{
	box-shadow: 0 0 50px 800px rgba(0,0,0,0.4);
}
aside ul {
	display: inline-block;
    position: fixed;
    text-align: left;
    list-style: none;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 8px;
}
.banniere{
	display: none;
}
#journeyresult{
	position: relative;
	font-size: 0.8em;
}
#lignes li{
	white-space: nowrap;
	overflow: hidden;
	font-size: 1em;
	line-height: 2.3em;
}
.mapboxgl-ctrl-top-right{
	width: 100%;
}
.mapboxgl-ctrl-top-right div{
	width: 100%;
	margin: 0;
}
.mapboxgl-ctrl-top-right input{
	width: 98%;
	margin: 0 1.5%;
}
#journeysection form{
	padding:3px;
}
#place{
	display: none;
}

@media (max-width: 767px){
	.godesktop {
		display: none;
	}
}